html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
.bell{
    font-family: "Bell MT", sans-serif;
}
.tahoma{
    font-family: "Tahoma", sans-serif;
}
.bold{
    font-weight: bold;
}
.gray{
    color: gray;
}
/*=======FOOTER==========*/
.kontainer{
    max-width: 1750px;
    margin: auto;
    font-family: "Tahoma",sans-serif;
    z-index: 1000;
}
body > footer > div > div > div > ul{
    list-style: none;
}
body > footer > div > div > div:nth-child(1) > h3{
    font-size: 15px;
    color: #A47BF1;
}
body > footer > div > div > div:nth-child(1){
    margin-top: 10px;
    margin-left: 60px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    background-color: #0F1819;
    box-sizing: border-box;
    padding: 70px 10px;
}
.footer-col{
    width: 20%;
    padding: 0 15px;
    margin-right: 35px;
}
.footer-col h4{
    font-size: 20px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #A47BF1;
}

.footer-col ul li:not(:last-child){
   margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #6F6E6F;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;
    font-family: "Tahoma", sans-serif;
}
.footer-col ul li a:hover{
    color: #fefffd;
    padding-left: 8px;
}
/*social media icons*/
body > footer > div > div > div:nth-child(4) > a:nth-child(2){
    background-image: url("img/home/icon-facebook.png");
    background-size: cover;
    width: 70px;
    height: 70px;
    display: inline-block;
    content-visibility: hidden;
}
body > footer > div > div > div:nth-child(4) > a:nth-child(2):hover{
    opacity: 45%;
}
body > footer > div > div > div:nth-child(4) > a:nth-child(3){
    background-image: url("img/home/icon-instagram.png");
    background-size: cover;
    width: 70px;
    height: 70px;
    display: inline-block;
    content-visibility: hidden;
}
body > footer > div > div > div:nth-child(4) > a:nth-child(3):hover{
    opacity: 45%;
}
body > footer > div > div > div:nth-child(4) > a:nth-child(4){
    background-image: url("img/home/icon-linkedin.png");
    background-size: cover;
    width: 70px;
    height: 70px;
    display: inline-block;
    content-visibility: hidden;
}
body > footer > div > div > div:nth-child(4) > a:nth-child(4):hover{
    opacity: 45%;
}
/*========MENU==========*/
#nav-links{
    background: #0F1819;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100;
}
#portfolio > a{
    display: inline;
    color: #A47BF1;
    font-family: "Bell MT", sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
}
nav{
    display: flex;
    padding:  1% 5%;
    align-items: center;
    justify-content: space-between;
}
.menu{
    flex:1;
    text-align: right;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 14px;
    position: relative;
    margin-left: 10px;
}
.menu ul li a{
    font-family: "Tahoma", sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
}
/*hovering menu*/
.menu ul li::after{
   content: "";
    width: 0;
    height: 2px;
    background: #FA865F;
    display: block;
    margin: auto;
    transition: 0.3s;
}
.menu ul li:hover::after{
    width: 100%;
}
/*-----------------------------HOME------------------------------------------*/
/*home content pg-1*/
div.blackdiv{
    background-color: #2D2D2D;
    display: flex;
}
.blackdiv{
    height: 100vh;
    width: 100%;
    background-image: url("img/home/me.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: #0F1819;
    position: relative;
}
#purpleheader{
    color: #A47BF1;
    font-size: 80px;
    margin-top: 217px;
    margin-left: 140px;
    display: inline-block;
    font-weight: bold;
    font-family: "Tahoma", sans-serif;
}
.purplebell{
    font-size: 60px;
    font-family: "Bell MT", sans-serif;
    color: #A47BF1;
    margin-left: 140px;
    margin-top: 167px;
}
#orange{
    font-family: "Tahoma", sans-serif;
    color: #FA865F;
    font-size: 70px;
}
/*home content pg2*/
.whoami{
    height: 100vh;
    width: 100%;
    background-color: #745BAC;

}
section.whoami{
    display: flex;
}
.backofwhoami{
    width: 832px;
    height:  898px;
    background-image: url("img/home/left-summary.png");
    background-size: 832px 898px;
    margin-left: 60px;
    background-repeat: no-repeat;
    display: inline-block;
}
#whoami{
    width: 519px;
    height: 512px;
    background-color: #E6DDD6;
    border-radius: 22px;
    margin-left: 130px;
    margin-top: 193px;
    display: inline-block;
}
#whoami > h1{
    text-align: center;
    font-size: 70px;
    margin-top: 30px;
}
#whoami > p{
    margin: 20px 30px 20px 30px;
    text-align: justify;
}
div.middle{
    width:513px;
    height: 100px;
    border-radius: 22px;
    display: inline-block;
    margin-left: -150px;
}
body > section.whoami > div.middle > img{
    width:400px;
    height: 80px;
    margin-top: 400px;
    margin-left: 165px;
}
#whoami > p > a{
    text-decoration: none;
}
/*circle*/
div.circle{
    width: 274px;
    height: 274px;
    border-radius: 50%;
    background-color: #0F1819;
    align-items: center;
}
.circle h1{
    text-align: center;
    padding-top: 45%;
}
body > section.whoami > a{
    text-decoration: none;
    color: black;
    margin-top: 295px;
    margin-left: 157px;
    height: 300px;
    width: 300px;
    font-family: "Tahoma", sans-serif;
}

/*hover*/
.circle{
    overflow: hidden;
    border-radius: 30px;
    box-shadow:  0 0 0 0 rgb(117, 80, 180), 0 0 0 0 rgb(203, 37, 37);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: white;
}
.circle::after{
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top:-50px;
    left: -100px;
    background-color: #ff3cac;
    background-image: linear-gradient(225deg, #fb613e 0%, #b869bb 50%, #7550b4 100%);
    z-index: -1;
    transition: transform 0.5s  ease;
    color: white;
}
.circle:hover{
    transform: translate(0, -6px);
    box-shadow:  10px -10px 25px 0 rgb(91, 63, 138), -10px 10px 25px 0 rgb(80, 55, 124);
    color: white;
}
.circle:hover::after{
    transform: rotate(150deg);
}
/*---------------------------About---------------------------------*/
div.container1{
    background-color: white;
    display: flex;
}
.meaning{
    display: grid;
    grid-template-columns: 1fr;
}
.meaning div{
    background-color: #FA865F;
    width: 1001px;
    height: 958px;
    padding: 50px;
    grid-row-start: 1;
    grid-column-start: 1;
}

div#bukva{
    font-size: 800px;
    text-align: center;
    opacity: 10.2%;
    color: white;
    display: inline;
}
div.name{
    width: 1001px;
    height: 958px;
}
div.holder{
    margin-top: 204px;
    margin-left: 98px;
    width: 748px;
    height: 428px;
}
.holder h1{
    font-size: 70px;
}
.holder p{
    font-size: 40px;
}

/*second part first page*/
div.aboutme{
    width: 1050px;
    height: 736px;
    display: inline-block;
    margin-top: 160px;
    background-color: #E6DDD6;
    text-align: center;
}
.aboutme h1{
    font-size: 80px;
    margin-top: -50px;
    margin-bottom: 50px;
    font-weight: 600;
    color: #31322C;
}
.aboutme p{
    padding:20px 10px 0 10px;
    color: #272729;
}
div.aboutme > img{
    width: 416px;
    height: 423px;
}
/*second part from the page*/
div.container2{
    background-color: #0F1819;
    display: flex;
    background-image: url("img/about/grapics-2.png");
    background-position: center;
    background-size: 1348px 722px;
    background-repeat: no-repeat;
    height: 940px;
}
div.orange{
    width: 500px;
    height: 517px;
    background-color: rgba(250,134,95,.96);
    padding: 30px;
    margin: 70px 0 0 -133px;
    border-radius: 20px;
    text-align: justify;
    display: inline-block;
}
.orange h1{
    text-align: center;
    font-size: 90px;
    color: #31322C;
}
body > div.container2 > div:nth-child(1) > div > div > h1{
    text-shadow: -10px 8px 0 #71FBB6;
}
body > div.container2 > div:nth-child(2) > div > div > h1{
    text-shadow: -10px 8px 0 #FFFC69;
}
.orange p{
    margin-top: 20px;
    font-size: 25px;
    color: #2D2D2D;
}
body > div.container2 > div:nth-child(1) > div{
    margin-left: 50px;
}
body > div.container2 > div:nth-child(2) > div{
    margin-left: 200px;
    margin-top: 200px;
    margin-right: 10px;
}
div.holder2{
    margin-top: 60px;
    margin-left: 98px;
    width: 748px;
    height: 428px;
}
div.container3{
    display: flex;
    align-items: center;
    background-color: #FA865F;
    padding-bottom: 50px;
    padding-top: 50px;
}
.container3 h1{
    margin-left:90px;
    margin-right: 30px;
    text-align: center;
    font-size: 70px;
    color: #31322C;
    text-shadow: 0 8px 0 #5FD3FA;
}
.songs iframe{
    width:300px;
    height: 300px;
    margin: 10px 20px 10px 20px;
    border-radius: 60%;
    border: solid 2px black;
}
.songs iframe:hover{
    border-color: #5FD3FA;
}
/*-----------------------------Gallery-------------------------------------*/
div#pagegallery{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.heading{
    width: 609px;
    height: 118px;
    font-size: 90px;
    margin-top: 90px;
    margin-bottom: 30px;
    border-bottom: 3px solid #A47BF1;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 70px 0 70px;
}
.container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.container .box .pics{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.container .box .pics img{
    width: 100%;
    padding-bottom: 10px;
    border-radius: 5px;
    transition: 1s;
}
.container .buttonph{
    margin: 40px 0 70px 0;
    background: #9470DA;
    padding: 25px 70px;
    border-radius: 35px;
}
#pagegallery > section > a{
    color: white;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: 3px;
}

/*hover na sliki*/
.container .box .pics img:hover{
    transform: scale(1.2);
    z-index: 2;
}
/*hover na button*/
.buttonph:hover{
    opacity: 0.5;
}
/*--------------------------------Projects----------------------------------------*/

div.model1{
    background-image: url("img/projects/abstract-flower.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 83px;
    display: flex;
}
div#projects p{
    font-size: 90px;
    display: inline-block;
    opacity: 8.9%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
div.left{
    width: 800px;
    height: 945px;
    flex-wrap: nowrap;
}
.left p{
    font-size: 90px;
    margin-top: 150px;
    margin-left: 80px;
}
.left img{
    width: 120px;
    height: 176px;
    margin-left: 360px;
    margin-top: 50px;
}
body > div.model1 > div.left > a{
    scroll-behavior: smooth;
}

div.model2{
    background-image: url("img/projects/abstract-flower-2.png");
    background-size: cover;
    height: 980px;
    box-sizing: border-box;
    display: flex;
    align-content: space-around;
    min-height: 100vh;
    align-items: center;
    justify-content: space-around;
}
/*hover list*/
.paragraphs{
    width: 600px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.paragraphs h2{
    color: white;
    background: #7550b4;
    padding: 10px 20px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.paragraphs ul{
    background: white;
}

.paragraphs ul li{
    list-style: none;
    padding: 30px;
    background: white;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    transition: transform 0.5s;
}
.paragraphs ul li:hover{
    transform: scale(1.1);
    z-index: 100;
    background: #7146b9;
    color: #fff;
    opacity: 1;
}
/*--------------------------Future---------------------------------*/
div.box1{
    margin-top: 83px;
    padding: 200px;
    display: flex;
    background-color: #0F1819;
}
.box1 p{
    font-size: 65px;
    margin-left: -20px;
    margin-top: 30px;
}
.box2{
    background-image: url("img/future/vrheadset.png");
    background-size: cover;
    height: 1080px;
}
div.kolumna{
    float: right;
    width: 748px;
    height: 662px;
    margin-top: 109px;
    margin-right: 144px;
}
.kolumna h1{
    font-size: 70px;
    color: white;
}
.kolumna p{
    margin-top: 90px;
    font-size: 18px;
    color: white;
    font-weight: 300;
}
div.box3{
    background-color: #0F1819;
    display: flex;
    justify-content: center;
}
.box3 iframe{
    padding-top: 40px;
    padding-bottom: 20px;
    border: none;
}
